/* -------------------- Default -------------------- */


body {
  font-family: 'Open Sans', 'sans-serif';
  color: #102e4a;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header {
  display: block;
  top: 0;
  width: 100%;
  height: 50px;
  padding-top: 17px;
  background-color: transparent;
  z-index: 10;
  position: absolute;
  transition: all 0.1s ease-out;
}

.header {
  display: block;
  top: 0;
  width: 100%;
  height: 50px;
  padding-top: 17px;
  background-color: #4b4b4b;
  z-index: 10;
  position: fixed;
  transition: all 0.1s ease-out;
}

.not-transparent {
  position: fixed;
  background-color: #4b4b4b;
  transition: all 0.1s ease-out;
  border-bottom: 1px solid #eee;
}

.ofhidden {
  overflow: hidden;
}

.row [class^="col"].hidden {
  display: none;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
}

.overlay-light {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.left {
  float: left;
}

.right{
  float: right;
}

.section-gap {
  padding: 120px 0;
}

.row-center {
  text-align: center;
}

.row-center  [class^="col"] {
  display: inline-block;
  float: none;
  margin: 0 40px;
}

.btn {
  text-decoration: none;
  font: 'Lato','sans-serif';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid transparent;
  padding: 10px 40px;
  border-radius: 50px;
}

.btnsquare {
  text-decoration: none;
  font: 'Lato','sans-serif';
  font-size: 14px;
  border: 1px solid transparent;
  padding: 10px 40px;
}

.btn--primary {
  color: #5A1E5C;
  background-color: white;
  border: 2px solid #5A1E5C;
  transition: all 0.2s ease-out;
}

.btn--primary:hover {
  background-color: #5A1E5C;
  color: white;
  transition: all 0.1s ease-out;
}

.btn--secondary {
  color: white;
  background-color: #7f2982;
  transition: all 0.1s ease-out;
}

.btn--secondary:hover {
  background-color: #5A1E5C;
  transition: all 0.1s ease-out;
}

.btn--terciary {
  color: white;
  background-color: #043565;
  transition: all 0.1s ease-out;
}

.btn--terciary:hover {
  color: white;
  background-color: #006494;
  transition: all 0.1s ease-out;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* -------------------- Header -------------------- */


.icon {
  display: inline-block;
  width: 3em;
  height: 5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.header__wrapper {
  display: flex;
  align-items: center;
  margin: 0 60px;
}

.logo {
  background-image: url('../img/logo.png');
  background-size: cover;
  width: 78px;
  height: 33px;
}

.nav {
  flex-grow: 1;
}

.nav__list {
  display: inline-flex;
  margin: 0;
}

.nav__item {
  list-style: none;
  padding: .5em;
  border: 1px solid transparent;
  transition: all 0.2s ease-out;
}

.nav__item--column {
  /* border-right: 1px solid #777777; */
  /* border-left: 1px solid #777777; */
}

.nav__item:hover {
  border-color: #777777;
  background-color: #777777;
  transition: all 0.2s ease-out;
}

.nav__link {
  text-decoration: none;
  color: #eee;
  padding: .5em 2em;
}

.nav__item--login {
  list-style: none;
  padding: .5em;
  border: 1px solid transparent;
  transition: all 0.2s ease-out;
}

.nav__login {
  text-decoration: none;
  color: white;
  padding: .5em 2em;
  background-color: #043565;
  transition: all 0.1s ease-out;
}

.nav__login:hover {
  color: white;
  background-color: #006494;
  transition: all 0.1s ease-out;
}

/* -------------------- Index -------------------- */

.front-about {
  position: relative;
  background-image: url('../img/front-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.front-about__desc {
  text-align: center;
  padding-top: 210px;
}

.front-about__title {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: #44d9e6;
  font-family: 'Poiret One', cursive;
}

.front-about__text {
  padding: 20px 0;
  margin: 0 0 20px 0;
  color:  white;
}

.front-about__img {
  position: relative;
}

.front-about__img--vertical {
  float: right;
  width: 80%;   
}

.service {
  background-color: white;
}

.service__img {
  height: 50%;
}

.service__desc[class^="col"] {
  margin-top: 40px;
  text-align: center;
}

.service__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: #ffa630;
}

.service__text {
  text-align: center;
  padding: 20px;
  margin: 0 0 20px 0;
}

.features {
  background: url('../img/melancia.jpg') center;
  background-size: cover;
  position: relative;
}

.features__text {
  color: white;
  text-align: center;
}

.features__text--title {
  font-family: 'Lato','sans-serif';
  font-size: 36px;
}

.features__text--subtitle {
  
}

.counter-wrapper {
  margin-top: -100px;
  margin-bottom: 120px;
  box-sizing: border-box;
}

.single-counter {
  text-align: center;
  border-radius: 10px;
  background-color: white;
  padding: 40px 15px;
  box-shadow: 0px 10px 5px 0px rgb(0, 100, 148, 0.3);
}

.counter {
  font-size: 60px;
  font-weight: 400;
  color: #043565;
}

.clients {
  padding: 0 0 120px 0;
}

.clients__title {
  font-family: 'Lato','sans-serif';
  color: #ffa630;
  font-size: 36px;
  text-align: center;
}

.clients__subtitle {
  text-align: center;
  color: #102e4a;
  margin-bottom: 60px;
  padding: 20px 0;
}

.clients__logo {
  width: 12%;
  margin: 0 65px;
}

.contact {
  background-image: url('../img/dust_scratches.png');
  text-align: center;
}

.contact__title {
  font-family: 'Lato','sans-serif';
  color: #ffa630;
  font-size: 36px;
  text-align: center;
}

.contact__subtitle {
  text-align: center;
  color: #102e4a;
  margin-bottom: 60px;
  padding: 20px 0;
}

/* -------------------- FruTech -------------------- */

.frutech {
  position: relative;
  background-image: url('../img/frutech-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.frutech__desc {
  text-align: center;
  padding-top: 190px;
}

.frutech__title {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: #ffa630;
}

.frutech__text {
  margin: 20px 0;
  padding: 20px 80px;
  color: white;
}

.store {
  background-image: url('../img/dust_scratches.png');
}

.store__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: #ffa630;
  margin-bottom: 60px;
}

.img__wrapper::before {
  content: "";
  display: block;
  width: 350px;
  height: 40px;
  border-top: 1px solid #5A1E5C;
  border-left: 1px solid #5A1E5C;
  border-right: 1px solid #5A1E5C;
}

.store__img {
  width: 60%;
  margin-left: 30px;
}

.img__wrapper::after {
  content: "";
  display: block;
  width: 350px;
  height: 40px;
  border-bottom: 1px solid #5A1E5C;
  border-left: 1px solid #5A1E5C;
  border-right: 1px solid #5A1E5C;
}

.store__desc {
  text-align: center;
  color: black;
}

.store__text {
  padding: 20px 0;
  margin: 0 0 20px 0;
}

.benefits {
  
}

.benefits__title {
  font-size: 36px;
  text-align: center;
  color: #ffa630;
}

.benefits__subtitle {
  margin-bottom: 60px;
  text-align: center;
}

.benefits__salad {
  background-image: url('../img/salad.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 0 40px 0;
  width: 400px;
  height: 412px;
}

.benefits__tomatoes {
  background-image: url('../img/tomatoes.jpg');
  background-size: cover;
  margin: 0 0 40px 0;
  width: 400px;
  height: 412px;
}

.benefits__text {
  color: #043565;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.benefits__desc {
  font-size: 14px;
  color: #102e4a;
}

.app {
  background-image: url('../img/dust_scratches.png');
  text-align: center;
}

.app__title {
  color: #ffa630;
  margin-bottom: 20px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  box-sizing: border-box;
  margin: 40px 20px 0 20px;
}

/* -------------------- Sobre nós -------------------- */

.aboutus {
  background-image: url('../img/dust_scratches.png');
  min-height: 100vh;
}

.aboutus__desc {
  text-align: center;
  padding-top: 190px;
}

.aboutus__title {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: #ffa630;
}

.aboutus__text {
  margin-top: 20px;
  padding: 20px 80px;
  color: #102e4a;
  border-right: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
}

.team {
  text-align: center;
}

.margin-team {
  padding: 0 150px;
  box-sizing: border-box;
}

.team-box {
  
}

.single-team {
  padding: 30px;
  text-align: center;
}

.team-desc {
  padding: 30px 0;
  font-size: 14px;
  color: #777777;
}

.team-job {
  margin-top: 5px;
  font-size: 14px;
  color: #777777;
}

/* -------------------- Contato -------------------- */

.contactus {
  position: relative;
  min-height: 100vh;
}

.contactus__desc {
  text-align: center;
  padding-top: 190px;
}

.contactus__title {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  color: #ffa630;
}

.contactus__text {
  margin: 20px 0;
  padding: 20px 80px;
  color: #102e4a;
}

.form {
  margin: 60px 0 120px 0;
}

.input {
  display: block;
  width: 100%;
  border-bottom: 1px solid #ffa630;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  padding: 14px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  font-size: 14px;
  color: #3b3b3b;
}

.input placeholder {
  display: block;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 4px;
  color: #3b3b3b;
  text-align: center;
}

.textarea {
  display: block;
  width: 100%;
  height: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ffa630;
  background: none;
  padding: 14px 10px;
  margin-bottom: 40px;
  outline: none;
  font-size: 14px;
  color: #3b3b3b;
  resize: none;
  /* overflow-y: scroll !important; */
  max-height: 100% !important;

}

/* -------------------- Login -------------------- */
.login__background {
  background-image: url('../img/congruent_outline.png');
  height: 100%;
}

.login__logo {
  display: inline-flex;
  background-image: url('../img/logo.png');
  background-size: cover;
  width: 78px;
  height: 33px;
  margin: 30px 0 20px 0;
}

.login {
  position: relative;
}

.login__holder {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 40px;
  background-color: white;
}

.forgetpass {
  font-size: 12px;
  text-align: left;
  margin: 20px 0 40px 0;
}

.forgetpass__link {
  text-decoration: none;
  color: #ffa630;
  font-weight: bold;
}

.form-login {
  margin: 60px 0 50px 0;
}

.login__text {
  margin: 0 0 20px 0;
}

/* -------------------- Cadastre-se -------------------- */

.cadastro {
  position: relative;
  padding-bottom: 60px;
}

.cadastro__holder {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 40px;
  background-color: white;
}

.cadastro__background {
  background-image: url('../img/congruent_outline.png');
}

.news {
  font-size: 12px;
  margin: 20px 0 40px 0;
  text-align: left;
}

.form-cadastro {
  margin: 60px 0 20px 0;
}

/* -------------------- Perfil -------------------- */

.profile {
  position: relative;
  background-image: url('../img/dust_scratches.png');
}

.profile-gap {
    padding: 180px 0;
}

.profile-itens {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-itens__icons {
  width: 22%;
}

.profile-itens__icons img {
  max-width: 100%;
}

#arduino_details {
  cursor: pointer;
}

.plus-holder {
  display: flex;
  align-items: center;
  border: 3px solid #222222;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.plus-holder:hover {
  background-color: #222222;
  transition: all 0.1s ease-out;
}

.plus {
  margin: 0 auto;
  color: #222222;
  font-size: 36px;
  transition: all 0.1s ease-out;
}

.plus-holder:hover .plus {
  color: white;
  font-size: 72px;
  transition: all 0.3s ease-out;
}

.profile-stats {
  
}

.therm-circle {
  display: none;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
}

.single-chart {
  margin-bottom: 40px;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

#chart {
  margin-top: 60px;
}

.media {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 220px;
  margin-top: 60px;
}

.square {
  border: 1px solid #222222;
  box-sizing: border-box;
  width: 80px;
  padding: 20px;
  text-align: center;
  margin: 5px auto;
}

.square-content {
  text-align: center;
  align-self: center;
}

/* -------------------- Footer -------------------- */

.footer-area {
  background-color: #222222;
}

.footer__title {
  color: white;
  font-size: 18px;
  margin-bottom: 25px;
}

.footer__text {
  color: #777777;
}

.footer__margin {
  margin-bottom: 30px;
}

.footer__color {
  color: #ffa630;
  text-decoration: none;
}

.icon-footer {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: #ffa630;
  fill: #ffa630;
  margin: 20px 5px;
  /* color: #5A1E5C; */
  /* color: #4D1B50; */
  /* color: #fee101; */
}

.icon-link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .front-about {
    min-height: unset;
  }

  .row-center {
    text-align: unset;
  }
  
  .row-center  [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
  }
  
}